# Standard Ignores
__pycache__/
.DS_Store
.vscode/
.history/
.pytype/
tests/bst-debug.log
tests/test_output

# Rasa Ignores
credentials.yml
*.db-*
rasa.db*
*.db
results/
models/
snow_connector.py
chatroom/